*{
    text-decoration: none;
    list-style-type: none;
}
.main-nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 94, 0);


}
.main-nav .nav-link{
    display: flex;

}
.main-nav .nav-link li{
padding: 25px;
font-weight: 700;
font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.main-nav .nav-link li a{
    color: white;
}
.oc-bar{
    position: absolute;
    top: 20px;
    left: 99%;
    display: none;
}

@media (max-width:1040px){
    .main-nav{
        min-width: 110%;
        height: 10vh;
        background-color: rgb(13, 255, 0);
    
    }   
  
    .oc-bar{
        font-size: 30px;
        display: initial;
    }
    .main-nav .nav-link{
        background-color: rgb(255, 85, 0);
        display: block;
    }
   
    .main-nav .nav-link.active{
    position: relative;
        top: -350%;
    }
    }
    
   
